:root {
    --black: #000;
    --gray-600: #414141;
    --gray-300: #787585;
    --gray-100: #c4c2cc;
    --purple-500: #73278a;
    --purple-300: #9749af;
    --white: #fff;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    gap: 0;
    font-size: large;
    color: var(--gray-100);
}

body {
    background-color: var(--gray-600);
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    text-align: center;
}

.title {
    font-size: xx-large;
    color: var(--white);
    margin-bottom: 10px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    height: auto;
    width: 80%;
    max-width: 600px;
}

#game #team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
}

#game #team-info input {
    border: solid 1px var(--black);
    background-color: var(--gray-600);
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    color: var(--white);
}

#game #team-info button {
    background-color: var(--gray-300);
    border: solid 1px var(--black);
    color: var(--black);
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s;
}

#game #team-info button:hover {
    background-color: var(--gray-100);
    cursor: pointer;
}

#game #jokenpo-buttons {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

#game #jokenpo-buttons button {
    background-color: var(--purple-300);
    border: solid 1px var(--black);
    color: var(--black);
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    min-width: 100px;
}

#game #jokenpo-buttons button:hover {
    background-color: var(--purple-500);
    border: solid 1px var(--white);
    color: var(--white);
}

#message, #game-status, #winner-team-name {
    margin: 10px 0;
    text-align: center;
    color: var(--white);
}

.stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
    background-color: var(--gray-300);
    padding: 40px;
    border-radius: 8px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.stat-item p {
    color: var(--white);
}

.stat-item strong {
    display: block;
    color: var(--white);
    font-size: 1.2em;
}

#round-counter {
    color: var(--white);
    font-size: 1.2em;
}